body{
    background-size: cover;
        background-image: linear-gradient(to right,rgb(201, 122, 135),white,white,rgb(20, 133, 133));
    }


.heading{
    text-align: center;
}
.label{
    font-size: x-large;
    font-weight: 500;
}
.input{
    width: 250px;
    height: 30px;
    border-radius: 30px;
}
.button{
    color: crimson;
    background-color: aqua;
    border: 2px solid  black;
    border-radius: 19px;
    height: 30px;
    width: 100px;
}
.div-2{
    display: flex;
    justify-content: center;
    }
    .form{
        text-align: center;
    }
    .data{
        border: 5px solid brown;
        margin: 20px;
    }